/******************************
 CSS history
*******************************/

/* global styling */

:root {
    --fg-clr-normal: #111;
    --fg-clr-gray: #3a3a3a;
    --fg-clr-link: rgb(255, 255, 255);
    --fg-clr-accent: rgb(255, 255, 255);/* används ej*/
    --fg-clr-white: #fff;
    
    --bg-clr-header: rgb(9, 58, 18);
    --bg-clr-blue: rgb(56, 105, 60);
    --bg-clr-offwhite: whitesmoke;

    --line-clr-black: #111;

    --img-width-small: 150px;
    --img-width-medium: 300px;
    --img-width-full: 100%;

    --padding-tight: .4rem;
    --padding-normal: 5em;

    --ft-weight-400: 400;
    --ft-weight-700: 700;
}

*,
*::before,
*::after {                                            
    font-family: 'Titillium Web', sans-serif;
    font-weight: var(--ft-weight-400);
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-clr-offwhite);
    
}

.header {
    margin: 0 auto;
    width: 100%;
    background: var(--bg-clr-header);
}

.primary-navigation  {
    width: 100%;
    background: var(--bg-clr-blue);
    height: 2rem;
    height: 65px;
    position:sticky;
    align-items:center;
    justify-content: space-evenly;
    display: flex;
    
}

.primary-navigation__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 25rem;
    
}

.main-content {
    width: 60%;
    margin-inline: auto;
    background: var(--bg-clr-offwhite);
} 

.footer {
    background: var(--bg-clr-blue);
}

.header-caption {
    margin-top: 0;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* image styling */

.inline-image {
    object-fit: cover;
}

.inline-image-small {
    width: var(--img-width-small);
}

.inline-image-medium {
    width: var(--img-width-medium);
}

.inline-image-full {
    width: var(--img-width-full);
}


/* text styling */

.header-caption {
    font-weight: var(--ft-weight-700);
    color: var(--fg-clr-white);
   
}

p {
    padding: var(--padding-tight);
    color: var(--fg-clr-gray);
}
.nav-link {
    font-weight: var(--ft-weight-700);
    color:white;
    font-size: 20px;
    text-decoration: white;
}

.column-txt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-navigation {
    list-style: none;
    list-style-type: none;
}

.footer-text {
    color: white;
    font-weight: var(--ft-weight-400);
}

/* link styling */

a {
    text-decoration: none;
}

.nav-link {
    color: var(--fg-clr-link);
    
    
}

.nav-link:visited {
    color: var(--fg-clr-link)
}

.nav-link:hover {
    color: var(--fg-clr-accent);
}

.list-style1 a{
    letter-spacing: 0.1rem;
    transition: all ease 0.1s   

}
.list-style1:hover{
    transform: scale(1.15);

}


/* compability & responsiveness */